:root {
    /* --main-boxes: #CEE5F299; */
    --main-boxes: #9fb4cf99;
    /* --main-boxes2: #aec7f599; */
    --main-boxes2: #8c97a399;
    /* --main-highlight-text: #032863; */
    --main-highlight-text: #0a1624;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-image: linear-gradient(to top right, #89BE99, #B1C5AA, #FEFAE0, #FAEDCD, #D8AD83); */
    background-image: url("light-background.jpg");
    /* background-image: url("grad-background.jpg"); */
    background-size: cover;
    color: var(--main-highlight-text);
}

header {
    display: flex;
    justify-content: center;
}

#header {
    position: fixed;
    top: 7px;
    width: 600px;
    height: 120px;
    background-image: radial-gradient(#9fb4cf 50%, #8c97a3);
    /* border: 2px solid var(--main-highlight-text); */
    border-radius: 45px;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    text-align: center;
    justify-content: center;
    font-size: larger;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.4);
}

#user-input {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    height: 45px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

#submit {
    margin-left: 5px;
}

#redo {
    width: 40px;
    height: 40px;
    display: none;
}

#header-info {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 23px;
}

.gap-1 {
    width: 5px;
}

#headerTemp {
    white-space: nowrap;
}

.gap-2 {
    width: 25px;
}

main {
    margin-top: 200px;
    height: 200%;
    padding-bottom: 100px;
}


#content {
    width: 100%;
}

.daily-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.daily-weather {
    background-image: radial-gradient(var(--main-boxes) 50%, var(--main-boxes2));
    /* border: 2px solid var(--main-highlight-text); */
    padding: 20px 0;
    border-radius: 45px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    text-align: center;
    gap: 5px;
    height: 1000px; 
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.4);   
}

.daily-titles {
    font-size: 35px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.daily-image {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

.daily-headers {
    width: 350px;
    font-size: 25px;
    text-align: right;
}

.daily-text {
    font-size: 23px;
    text-align: left;
    width: 250px;
}

#yesterday-info, #tomorrow-info {
    margin-top: 100px;
    align-self: flex-end;
}

#today-info {
    margin: 0 20px;
}



#seven-day-forcast-section {
    padding-top: 75px;
}

#seven-day-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.sevenDayA {
    text-decoration: none;
    color: var(--main-highlight-text);
}

.sevenDays {
    width: 200px;
    height: 70px;
    background-image: radial-gradient(var(--main-boxes) 50%, var(--main-boxes2));
    /* border: 2px solid var(--main-highlight-text); */
    border-radius: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.4);
    margin-bottom: 50px;
}


.sevenDays h4 {
    width: 100%;
    font-size: 20px;
}

.sevenDays img {
    width: 64px;
    height: 64px;
    margin-top: -40px;
    margin-bottom: -170px;
    display: none;
}

.sevenDays p {
    width: 100%;
    margin-bottom: -80px;
    display: none;
    font-size: 17px;
}



#overview-info {
    display: none;
    background-image: radial-gradient(var(--main-boxes) 50%, var(--main-boxes2));
    /* border: 2px solid var(--main-highlight-text); */
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.4);
    margin: 0px 10px;
    padding: -20px 5px 0px 0px;
    border-radius: 45px;
}


#overview-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    text-align: center;
    padding-top: -20px;
}

#overview-date {
    width: 100%;
    padding-top: -50px;
}

#hourly-grid {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(5, 70px);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overview-subtitle {
    width: 110px;
    text-align: center;
}

#hourly-grid img {
    align-self: center;
    justify-self: center;
    width: clamp(32px, 100%, 64px);
}



@media (max-width: 1900px) {
    #yesterday-info, #tomorrow-info {
        order: 2;
        margin: 50px 10px;
    }
    #today-info {
        order: 1;
        margin: 0 100%;
    }
}