* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: orangered;
}

header {
    display: flex;
    justify-content: center;
}

#header {
    position: fixed;
    top: 7px;
    border: 1px solid black;
    width: 600px;
    height: 120px;
    background-color: bisque;
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    text-align: center;
    justify-content: center;
    font-size: larger;
}

#header div {
    border: 1px solid black;
}

#user-input {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    height: 45px;
    justify-content: center;
    text-align: center;
}

#submit {
    margin-left: 5px;
}

#redo {
    width: 25px;
    height: 25px;
    display: none;
}

#header-info {
    display: flex;
    text-align: center;
    justify-content: center;
}

.gap-1 {
    width: 5px;
}

.gap-2 {
    width: 10px;
}

main {
    margin-top: 140px;
    height: 100vh;
    background-color: red;

}

#content {
    width: 100%;
    /* height: 3000px; */
    border: 1px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    background-color: aquamarine;
    padding: 10px;
}

.design-test {
    background-color: blueviolet;
    border: 1px solid black;
    padding: 20px 0;
    text-align: center;
}